<toolbar [title_page]='title_page'></toolbar>

<ion-content padding>

<ion-card style="margin-top: 55px;">

  <ion-card-header>
    Mis Deudas Pendientes
  </ion-card-header>

  <ion-list>
    <ion-item *ngFor='let pendingPayment of pendingPayments'>
      {{ pendingPayment.name }}
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <button ion-button clear (click)="goToPendingPayment()">
        <div>Ver más</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>


<ion-card>

  <ion-card-header>
    Deudores Morosos
  </ion-card-header>

  <ion-list>
    <ion-item *ngFor='let debt of debts'>
      {{ debt.name }} - {{ debt.amount }}
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <button ion-button clear (click)="goToDebtor()">
        <div>Ver más</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>

</ion-content>
